<ion-content class="mainContent has-tabs">
<div class="card">
  <div class="item item-text-wrap">
    <img id="full" ng-src="http://gesso-back.dev{{ photoDetails.original_uri }}" style="width:100%;" 
    ng-click="openfullscreen()">
  </div>
</div>
    <div class="edit-div date-add">
    <button class="button button-positive update-but" ng-click="delete()">
                 <i class="ion-ios-trash"></i> Delete
    </button>
    <!-- <button type="submit" class="button button-positive update-but">
                 <i class="ion-folder"></i> Move 
    </button> -->
    </div>
</ion-content>

<script id="fullscreen.html" type="text/ng-template">
    <div class="modal" ng-click="closefullscreen()">
    <ion-content>
    <img ng-src="http://gesso-back.dev{{ photoDetails.original_uri }}" id="fullPhoto"/>
    </ion-content>
    </div>
</script>