 <ion-content class="has-tabs mainContent">
    <p>{{ showToast }}</p>
    <a href="#/tab/projects"><i class="ion-chevron-left margin-left"> Back</i></a>
    <div role="form" class="card main-list list-card">
        <div class="item item-text-wrap">
            <i class="icon ion-record padding" style="color:{{color}}">
            </i>
            <input class="list-card-edit" type="text" id="project" name="title" data-ng-model="editProject.name">
        </div>
    </div>
    <div class="edit-div">
        <button class="button button-positive update-but" data-ng-click="deleteProject()">
                 <i class="ion-ios-trash"></i> Delete
        </button>
        <button class="button button-positive update-but" data-ng-click="updateProject()">
                 <i class="ion-checkmark"></i> Update 
        </button>
    </div>
</ion-content>