 <ion-content class="has-tabs mainContent" id="resource">
 <p class="catName">{{ grants[0].category.name }}</p>
	<div class="card main-list list-card" data-ng-repeat="grant in grants">
		<ul class="demo-list-two mdl-list">
		  	<li class="mdl-list__item mdl-list__item--one-line">
			    <span class="mdl-list__item-primary-content">
			    	<img data-ng-src="../../assets/img/{{grant.image}}" alt="resource icon">
			      		<a href="{{ grant.url }}"> {{ grant.name }}</a>
			    </span>
		    </li>
	    </ul>
    </div>
<p class="catName">{{ employs[0].category.name }}</p>
	<div class="card main-list list-card" data-ng-repeat="employ in employs">
		<ul class="demo-list-two mdl-list">
		  	<li class="mdl-list__item mdl-list__item--one-line">
			    <span class="mdl-list__item-primary-content">
			    	<img data-ng-src="../../assets/img/{{employ.image}}" alt="resource icon">
			      		<a href="{{ employ.url }}"> {{ employ.name }}</a>
			    </span>
		    </li>
	    </ul>
    </div>
<p class="catName">{{ careers[0].category.name }}</p>
	<div class="card main-list list-card" data-ng-repeat="career in careers">
		<ul class="demo-list-two mdl-list">
		  	<li class="mdl-list__item mdl-list__item--one-line">
			    <span class="mdl-list__item-primary-content">
			     	<img data-ng-src="../../assets/img/{{career.image}}" alt="resource icon">
			      		<a href="{{ career.url }}"> {{ career.name }}</a>
			    </span>
		    </li>
	    </ul>
    </div>
<p class="catName">{{ openings[0].category.name }}</p>
	<div class="card main-list list-card" data-ng-repeat="open in openings">
		<ul class="demo-list-two mdl-list">
		  	<li class="mdl-list__item mdl-list__item--one-line">
			    <span class="mdl-list__item-primary-content">
			     	<img data-ng-src="../../assets/img/{{open.image}}" alt="resource icon">
			      		<a href="{{ open.url }}"> {{ open.name }}</a>
			    </span>
		    </li>
	    </ul>
    </div>
</ion-content>