.catName {
	font-size: 16px;
	color: #7F7B7B;
	letter-spacing: 1.57px;
	text-transform: uppercase;
	margin-left: 16px;
}

p:first-child {
	padding-top: 20px;
}

a {
	font-size: 14px;
	color: #4d4d4d;
	letter-spacing: 1.57px;
	text-decoration:none;
	cursor: pointer;
}

#resource a {
	margin-left: 10px;
}