 <ion-content class="has-tabs mainContent">
    <div class="card main-list list-card" data-ng-repeat="project in projects">
        <ul class="demo-list-two mdl-list">
            <li class="mdl-list__item mdl-list__item--one-line">
                <span class="mdl-list__item-primary-content">
                    <i class="icon ion-record padding mdl-list__item-icon" style="color:{{colors[$index].color}}"></i>
                        <a href="#projects/{{ project.id }}">{{ project.name }}</a>
                </span>
                <span class="mdl-list__item-secondary-content editables">
                    <a class="g-icon" href="#projects/{{project.id}}/edit"><i class="ion-edit g-edit"></i></a>
                  <p>{{ showToast }}</p>
                </span>
            </li>
        </ul>
    </div>
    <div role="form" class="card main-list list-card">
        <div class="item item-text-wrap">
            <i class="icon ion-record padding">
            </i>
            <input type="text" placeholder="New Project Name" id="list" name="list" data-ng-model="newProject.name">
        </div>
        <button id="fabmini" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
        data-ng-click="addProject()">
            <i class="material-icons">add</i>
        </button>
    </div>
 </ion-content>