#calender {    

    position: absolute;
    right: 0;
    margin-right: 16px;
    font-size: 20px;
    margin-top: 7px;
    cursor: pointer;
}

#calender:focus {    
	color: white;
}

#itemText {
	display: inline-block;
}

#bodyInput {
	height: 65px;
	margin: 20px 0px;
}

#iphoneSubmit {
	position: absolute;
	visibility: hidden;
}

.fullInput {
	width: 100%;
}

.item-select select {
	max-width: 66%;
}

.item-select i {
	color:#4981C0;
}

#sug-reminders {
	margin-top:20px;
}

.item i {
	color:#4981C0;
}

.hasErrors {
	text-align: center;
	color:red;
}

.hasErrors i {
	font-size:16px;
	margin-right: 5px;
}

.datePick {
	padding-top: 20px;
}