 <ion-content class="has-tabs mainContent">
 	<p>{{ showToast }}</p>
 	<a href="/#list/{{items.card_id}}"><i class="ion-chevron-left margin-left"> Back</i></a>
	<div role="form" class="card main-list list-card">
	  	<div class="item item-text-wrap">
	    	<input class="list-card-edit" type="text" id="list" name="title" data-ng-model="items.body">
	  	</div>
	</div>
	<div role="form" class="card main-list list-card">
		<div class="item item-text-wrap">
	    	<datepicker date-format="yyyy-MM-dd">
				<input data-ng-model="items.reminder_date" type="text" placeholder="Set Reminder Date" class="fullInput list-card-edit"/>
			</datepicker>
	  	</div>
	</div>
	<div class="edit-div">
		<button class="button button-positive update-but" data-ng-click="updateListItems(items)">
	 			 <i class="ion-checkmark"></i> Update
		</button>
		<button class="button button-positive update-but" data-ng-click="deleteCardItems(items)">
	 			 <i class="ion-ios-trash"></i> Delete
		</button>
	</div>
</ion-content>