<ion-content class="mainContent has-tabs">
<p class="catName">Upload a new work to:</p>
<div class="card" id="list-card-id">
        <ul class="demo-list-icon mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-secondary-content list-right">
                    <i class="icon ion-record padding mdl-list__item-icon" style="color:{{colors[0].color}}"></i>
                      <span class="list-title">{{ portfolioDetails.name }}</span>
                </span>
            </li>
         </ul>
    </div>
    <div class="card">
        <form>
        <p class="catName small">Select An Image:</p>
        <label id="edited">
            <input type="file" ngf-select data-ng-model="file" name="file" accept="image/*">
        </label>
        <div id="thumbImage">
            <label ng-if="file">
                <!-- <span><i class="ion-image"> Image:</i></span> -->
                <img ng-show="file" ngf-thumbnail="file" class="thumb" alt="current selected photo">
            </label>
            <button class="button button-positive update-but" ng-click="file = null" ng-show="file">
            <i class="ion-refresh"></i> Remove</button>
        </div>
        <label class="item item-input item-floating-label">
            <span class="input-label">Title:</span>
            <input placeholder="Title" type="text" name="title" data-ng-model="form.title">
        </label>
         <label class="item item-input item-floating-label">
            <span class="input-label">Medium</span>
            <input placeholder="Medium" type="text" name="medium" data-ng-model="form.medium">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Dimensions</span>
            <input placeholder="Dimensions" type="text" name="dimensions" data-ng-model="form.dimensions">
        </label>
         <label class="item item-input item-floating-label">
            <span class="input-label">Location</span>
            <input placeholder="Location" type="text" name="location" data-ng-model="form.location">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Price</span>
            <input placeholder="Price" type="text" name="price" ng-model="form.price">
        </label>
            <div class="edit-div date-add">
                <button class="button button-positive update-but" ng-click="cancel()">
                    <i class="ion-android-hand"></i> Cancel
                </button>
                <button class="button button-positive update-but" ng-click="uploadForm(file)">
                    <i class="ion-checkmark"></i> Add
                </button>
            </div>
        </form>
    </div>
</ion-content>
