@charset "UTF-8";
.thumbStyle {
	width: 100%;
	border-radius: 5%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.modal .scroll {
height: 100% !important;
background-color: black !important;

display: -webkit-box !important;
display: -moz-box !important;
display: -ms-flexbox !important;
display: -webkit-flex !important;
display: flex !important;

-webkit-box-direction: normal !important;
-moz-box-direction: normal !important;
-webkit-box-orient: horizontal !important;
-moz-box-orient: horizontal !important;
-webkit-flex-direction: row !important;
-ms-flex-direction: row !important;
flex-direction: row !important;


-webkit-box-align: center !important;
-moz-box-align: center !important;
-webkit-align-items: center !important;
-ms-flex-align: center !important;
align-items: center !important;
}

#fullPhoto {
	display: block;
	width: 100%;
	max-width: 600px;
	margin:auto;
}
